<ion-content>
  <div>
    <ion-searchbar #searchBar (ionChange)="filterPlayers(searchBar.value || '')"></ion-searchbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let player of filteredPlayers" size="4">
        <ion-card (click)="openPlayerDetails(player.idPlayer)">
          <ion-card-content class="ion-text-center">
            <ion-img [src]="player.strThumb" alt="Player Image"></ion-img>
            <ion-label>{{ player.strPlayer }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
